@foreach (var item in ViewBag.Skole)
{
    bool found = true;
    foreach (var v in ViewBag.SelectedSkole)
    {
        if (v.IDSkola == item.ID && Model.ID == v.IDDjelatnik)
        {
            found = false;
            <li> <input type="checkbox" name="SkolaID" value="@item.ID" checked="checked" style="list-style:none" /> @item.Naziv</li>
        }
    }
    if (found)
    {
        <li> <input type="checkbox" name="SkolaID" value="@item.ID" style="list-style:none" /> @item.Naziv</li>
    }
}
