@{
    ViewBag.Title = "Index";
}

<h2>Početna</h2>

<table width="1000" border="1" style="text-align:center; font-size:20px">
    <tr>
        <td width="500">@Html.ActionLink("Škole", "Index", "Skola")</td>
        <td>@Html.ActionLink("Djelatnici", "Index", "Djelatnik")</td>
    </tr>
</table>